<div class="page-header">
<div class = "container" > 

  <% if user_signed_in? %>
    <h1>Pending Events</h1>
  <% else %>
    <h1>Today's Events</h1>
  <% end %>
  <table>
    <tr>
		<th>Event Name</th>
		<th>Organization</th>
		<th>Attendees</th>
		<th>Date</th>
		<th>Starts</th>
		<th>Ends</th>
		<th>Room</th>
    </tr>
    <% if user_signed_in? %>
    <% @events = Event.where('status == ?', 'pending').all.each do |event| %>
            <tr>
              <td><%= link_to event.name, event %></td>
              <td><%= event.organization %></td>
              <td><%= event.numAttends %></td>
              <td><%= event.start_at.strftime("%A, %b %d,%Y") %></td>
              <td><%= event.start_at.strftime("%I:%M%p") %></td>
              <td><%= event.end_at.strftime("%I:%M%p") %></td>
              <td>
                <% unless event.room.nil? %>
                    <%= event.room.name %>
                <% end %>
              </td>
              <td><%= event.status %></td>

  <% end %>
    <% else %>
    <% @events = Event.where('status == ? AND start_at BETWEEN ? AND ?', 'approved', DateTime.now.beginning_of_day, DateTime.now.end_of_day).all.each do |event| %>
            <tr>
              <td><%= link_to event.name, event %></td>
              <td><%= event.organization %></td>
              <td><%= event.numAttends %></td>
              <td><%= event.start_at.strftime("%A, %b %d,%Y") %></td>
              <td><%= event.start_at.strftime("%I:%M%p") %></td>
              <td><%= event.end_at.strftime("%I:%M%p") %></td>
              <td>
                <% unless event.room.nil? %>
                    <%= event.room.name %>
                <% end %>
              </td>
              <td><%= event.status %></td>

  <% end %>
    <% end %>
  </table>
</div>
</div>
