      <div class="field">

        <%= f.label "Organization" %><br />
        <%= f.text_field :organization %>

        <%= f.label "Event Name" %><br />
        <%= f.text_field :name %>

        <%= f.label :"Number of Attendees" %><br />
        <%= f.text_field :numAttends %>
      </div>