<div class="field">

	<%= f.label "Organization" %>
	<%= f.text_field :organization %><br /><br />

	<%= f.label "Event Name" %>
	<%= f.text_field :name %><br /><br />

	<%= f.label :"Number of Attendees" %>
	<%= f.text_field :numAttends %><br /><br />
</div>