<div class="container">
  <%= form_for(@event) do |f| %>
    <% if @event.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

        <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label "Event Name" %>
      <%= f.text_field :name %><br /><br />
    
      <%= f.label "Organization" %>
      <%= f.text_field :organization %><br /><br />
    
      <%= f.label "number of guests" %><br />
      <%= f.text_field :numAttends %>
    
      <%= f.label :start_at %><br />
      <%= f.datetime_select :start_at, :order => [:month, :day, :hour, :minute], :minute_step => 15 , :discard_seconds => true %>
   
      <%= f.label :end_at %><br />
      <%= f.datetime_select :end_at, :order => [:month, :day, :hour, :minute], :minute_step => 15 , :discard_seconds => true %>
    </div>
    <div class="field">    
    <%= f.label :room_id %>
	 <%= f.collection_select :room_id, Room.all, :id, :name, {:prompt => 'select room'} %><br /><br />
	 </div>
	 
	 <div>
	 <div class="field">
	 <%= f.label :notes %>
	 <%= f.text_area :notes %>
	 </div>
	 
	 
	 
    <div class="field">    
    <%= f.label :approved %> 
    <%= f.check_box :approved %><br />
	 </div>	 
	 <br />
	 
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
