<div class="container">
  <%= form_for(@event) do |f| %>
    <% if @event.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

        <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label "Event Name" %>
      <%= f.text_field :name %><br />
      <%= f.label "Organization" %>
      <%= f.text_field :organization %><br />
    
      <%= f.label "number of guests" %>
      <%= f.text_field :numAttends %>
      <br/>
	</div>
   
   <div> 
      <%= f.label :start_at %>
      <%= f.datetime_select :start_at, :order => [:month, :day, :hour, :minute], :minute_step => 15 , :discard_seconds => true %>
   	<br/>
      <%= f.label :end_at %>
      <%= f.datetime_select :end_at, :order => [:month, :day, :hour, :minute], :minute_step => 15 , :discard_seconds => true %>
      <br/><br/>
    </div>

    <div class="field">    
	    <%= f.label :room_id %>
          <%= f.collection_select :room_id, Room.where('maxOccupancy >= ?', @event.numAttends),
                                  :id, :choiceName, {:prompt => 'select room'} %><br/><br/>
	 </div>
	 
    <div class="field">    
	    Contact Name<br/>
		 <%= f.text_field :contactName %><br/>
		 Contact Email<br/>
		 <%= f.email_field :contactEmail %><br/>
		 Contact Phone<br/>
		 <%= f.phone_field :contactPhone %><br/>
		 <br/>
	 </div>

	 <div class="field">
		 <%= f.label :notes %>
		 <%= f.text_area :notes %>
		 <br/>
	 </div>
	 

    <div class="field">    
	    <%= f.label :status %>
	    <%= f.collection_select :status, Event::STATUSES, :to_s, :to_s %><br /><br />
	 </div>
	 
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
