<div class="container">
  <%= form_for(@event) do |f| %>
    <% if @event.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

        <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label "Event Name" %><br />
      <%= f.text_field :name %>
    
      <%= f.label "Organization" %><br />
      <%= f.text_field :organization %>
    
      <%= f.label :start_at %><br />
      <%= f.datetime_select :start_at %>
    
      <%= f.label :end_at %><br />
      <%= f.datetime_select :end_at %>
    </div>
    <div class="field">    
    <%= f.label :room_id %><br />
	 <%= f.collection_select :room_id, Room.all, :id, :name, {:prompt => 'select room'} %>
	 </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
