<p id="notice"><%= notice %></p>

<h2>Event Details</h2>
<p>
  <b>Event:</b> 
  <%= @event.name %>, 
  <%= @event.organization %>
</p>

<p>
  <b>Guests:</b>
  <%= @event.numAttends %>
</p>

<p>
  <b>Date: </b>
<%= @event.start_at.strftime("%A, %m/%d/%Y") %>
</p>

<p>
	<b>Time:</b>
  <%= @event.start_at.strftime("%I:%M%p") %> – <%= @event.end_at.strftime("%I:%M%p")  %>
</p>

<p>
  <b>Room:</b>
	<% unless @event.room.nil? %>
        <%= @event.room.name %>
    <% end %>
</p>

<p>
  <b>Contact Info:</b><br/>
	<%= @event.contactName %><br/>
	<%= @event.contactEmail %><br/>
	<%= @event.contactPhone %>
	</p>

<p>
  <b>Notes:</b><br/>
  <%= @event.notes %>

</p>

<p>
  <b>Status:</b> <%= @event.status %>
</p>




<% if user_signed_in? %>
	<%= link_to 'Edit this Event', edit_event_path(@event) %> |
<% end %>
<%= link_to 'List Events', events_path %>
