<p id="notice"><%= notice %></p>

<p>
  <b>Event</b><br/>
  <%= @event.name %>, 
  <%= @event.organization %>
</p>

<p>
  <b>Guests:</b>
  <%= @event.numAttendees %>
</p>

<p>
  <b>Date:</b><br/>
<%= @event.start_at.strftime("%m/%d/%Y") %>
</p>

<p>
	<b>Time:</b><br/>
  <%= @event.start_at.strftime("%I:%M%p") %> – <%= @event.end_at.strftime("%I:%M%p")  %>
</p>

<p>
  <b>Room:</b><br/>
	<% unless @event.room.nil? %>
        <%= @event.room.name %>
    <% end %>
</p>

<p>
  <b>Approved:</b>
	<% unless @event.room.nil? %>
  <%= @event.approved %>
  <% end %>
</p>



<% if user_signed_in? %>
	<%= link_to 'Edit this Event', edit_event_path(@event) %> |
<% end %>
<%= link_to 'List Events', events_path %>
