<p id="notice"><%= notice %></p>

<p>
  <b>Building:</b>
  <%= @room.building %>
</p>

<p>
  <b>Room Number:</b>
  <%= @room.number %>
</p>

<p>
  <b>Maxoccupancy:</b>
  <%= @room.maxOccupancy %>
</p>


<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'List Rooms', rooms_path %>
