<!DOCTYPE html>
<html>
<head>
  <title>CalTest</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-fixed-top navbar-inverse">
		<div class="navbar-inner">
			<div class="container">
				<ul>
					<li class="brand"><%= link_to "Calendar", root_path %></li>
				</ul>
				<ul class="nav">
					<li><%= link_to "View Calendar", calendar_path %></li>
					<li><%= link_to "New Event", new_event_path %></li>
				</ul>
				<ul class="nav pull-right">
					<li><a href="#">Log in</a></li>
					<li><a href="#">Register</a></li>
				</ul>
			</div>
		</div>
	</div>

	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
